*{margin:0; padding:0;}
.wrap{max-width: 1440px; margin: 0 auto;}
button{cursor: pointer;}

.todo-warp{padding:30px 20px; }
.todo-tit{font-size: 36px; padding:20px 0; border-bottom: 1px solid #ddd;}

.task-area{padding:30px 0; }
.task-tab-bx{display: flex; justify-content: space-between;}
.task-tab{display: flex; position: relative; width: 80%;}
#under-line{background-color: #243bbe; height: 4px;
position: absolute;bottom: 0;
left: 0;
width: 33.33%;}
.task-tab .tab{padding:10px 0; width: 33.33%; cursor: pointer;text-align: center;}

.checkbtn{background: url(./img/checkbx_d.png) no-repeat; background-size: cover; width: 23px; height: 23px; border: none;}
.checkbtn.done{background: url(./img/checkbx.png) no-repeat;background-size: cover; width: 23px; height:23px; border: none;}
.delbtn{background: url(./img/delete.png) no-repeat;background-size: cover; width: 17px; height: 18px; border: none;}


.input-area{margin: 30px auto 0; text-align: center;}
.input-area input{border:1px solid #ccc; border-radius: 30px; padding:10px 30px;}
.input-area #startDate{width:120px; }
.input-area #task-input{width: 60%; }
.input-area button{height:35px; width:35px; font-size: 20px; color:#fff; border-radius: 30px; background: #243bbe; border:none;}

.task-board-bx{margin: 30px 0;display: flex; flex-wrap: wrap;justify-content: space-between;}
.task-board{background:#ddd; width: 100%;padding: 20px;margin-right: 15px; margin-top:20px;}
.task-board:first-child{margin-top:0;}
.task-board.todo{background:#fbffc1;}
.task-board.prog{background:#c1edff;}
.task-board.done{background:#ffcece;}
.task-board h5{text-align: center;font-size: 18px;}

.task{background: #fff; margin:10px 0; padding:10px 20px;}
.task-cont{display: flex;justify-content: space-between;}
.check-cont-bx{display: flex;}
.check-cont-bx p{padding: 0 10px;}
.task .date{margin-top: 30px;color: #aaa;}

.task-done{background-color: #eee; margin:10px 0; padding:10px 20px;}
.task-done .check-cont-bx p{text-decoration: line-through;color:#777;}


/*popup*/
.trash-bx{
    width: 500px;
    height: 200px;
    background: #ddd;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
@media (min-width:720px){
    .task-board{margin-top:0; background:#ddd; width: calc(33.33% - 55px);}
    .task-tab{}
#under-line{position: absolute;bottom: 0;left: 0;width: 150px;}
.task-tab .tab{padding:10px 0; width: 150px; cursor: pointer;text-align: center;}

}
